@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@{
  var isAuthenticated = User.Identity?.IsAuthenticated ?? false;
  var userFullName = isAuthenticated ? User.FindFirst(ClaimTypes.Name)?.Value : string.Empty;
}

<ul class="navbar-nav navbar-right">
  @if (isAuthenticated)
  {
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
         data-bs-toggle="dropdown"
         aria-expanded="false">
        Hello, @userFullName!
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          @* Redirect to home page for now *@
          <form class="form-inline" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home")" method="post">
            <button type="submit" class="dropdown-item">Log out</button>
          </form>
        </li>
      </ul>
    </li>
  }
  else
  {
    <li class="nav-item"><a class="nav-link" asp-page="/Account/Register">Register</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="/Account/Login">Log in</a></li>
  }
</ul>