@model (double AverageRating, int? ReviewCount)

<div class="d-flex align-items-center text-muted">
  @for (int i = 1; i <= 5; i++)
  {
    if (Model.AverageRating >= i)
    {
      <i class="bi bi-star-fill text-warning"></i>
    }
    else if (Model.AverageRating >= i - 0.5)
    {
      <i class="bi bi-star-half text-warning"></i>
    }
    else
    {
      <i class="bi bi-star text-warning"></i>
    }
  }
  @if (Model.ReviewCount != null)
  {
    <span class="ms-2">(@Model.ReviewCount)</span>
  }
</div>