@model ProductViewModel

<a asp-controller="Products" asp-action="Details" asp-route-id="@Model.ProductId">
  <div class="card">
    <img class="card-img-top" src="@Model.ThumbnailUrl" alt="Product Thumbnail">
    <div class="card-body">
      <h5 class="card-title">@Model.Price.ToString("C")</h5>
      <p class="card-text">@Model.Name</p>
    </div>
  </div>
</a>